*{margin:0;padding:0;box-sizing:border-box;}
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow-x:hidden */
}
.code-wrapper{
    flex:1;
    height: 50%;
    margin-left:10px;
}
.preview-wrapper{
    flex: 1;
    height: 50%;
}
#code{
    overflow: hidden;
    height: 100%;
}
.actions{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}
.actions>button{
    margin: 10px;
    background: #ddd;
    padding: 8px 10px;
    border:none;
    /* 消除按钮原来默认样式 */
}
.actions>button.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8)
    /* 这里表示选中某个按钮之后出现自己设置的样式 */
}
.actions>button:focus{
    outline: none
    /* 这里主要是为了消除点击按钮的时候清楚默认的样式 */
}
.preview{
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
}